.button {
  display: inline-block;

  width: 100%;
  max-width: 250px;
  padding: 10px 5px;
  margin: 0;

  font-family: $font-main;
  font-size: 1rem;

  color: #000;
  text-align: center;
  text-decoration: none;

  cursor: pointer;

  background-color: $color-4;

  border: 1px solid $color-4;
  border-radius: 4px;

  transition:
    color $transition,
    background-color $transition,
    border-color $transition;

  &:hover {
    color: $color-4;
    background-color: #000;
    border-color: #000;
  }
}
