@import "config";

.header {
  margin-bottom: $gutter * 2;
  background-color: $color-1;

  &__content {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    flex-direction: column;
  }

  &__title {
    margin-bottom: $gutter;

    font-family: $font-heading;
    font-size: 3.75rem;
    font-weight: 600;

    text-align: center;
  }
}
