@import "config";

.nav {
  margin-bottom: $gutter;

  &__row {
    @include row();
    flex-wrap: wrap;
  }

  &__list {
    @include columns(12);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: $gutter;

    list-style: none;

    @media (min-width: 800px) {
      @include columns(6);
      @include offset-left(3);

      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;

    margin-right: $gutter * 0.5;
    margin-left: $gutter * 0.5;

    font-size: 1rem;
  }

  &__link {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    transition: color $transition;

    &:hover {
      color: $color-2;
    }
  }

  &__item--active &__link {
    text-decoration: underline;
  }

  &__cart {
    @include columns(12);

    display: flex;
    justify-content: center;

    @media (min-width: 800px) {
      @include columns(2);
      @include offset-left(1);

      justify-content: flex-end;
    }
  }

  &__button {
    padding-right: $gutter;
    padding-left: 30px;

    color: #000;

    text-decoration: none;

    background-image: url("img/cart.svg");
    background-repeat: no-repeat;

    transition: color $transition;

    &:hover {
      color: $color-2;
    }

    @media (min-width: $max-width) {
      padding-right: 0;
    }
  }
}
